{% extends "admin/layout.html.twig" %}

{% block content %}
   
    <a href="{{path}}/admin/products/category-list.php">لیست دسته ها</a>
    <a href="{{path}}/index.php">لیست محصولات</a>
    <table border="2" align="center">
        <tr>
            <th>#</th>
            <th>نام </th>
            <th>دسته </th>
            <th>قیمت</th>
            <th>مقدار</th>
            <th>وضعیت</th>
        </tr>
        {% for p in products %}
            <tr>
                <td>{{loop.index}}</td>
                <td><a href="view.php?id={{p.id}}">{{p.name}}</a></td>
                <td></td>
                <td>{{p.price}}</td>
                <td>{{p.quantity}}</td>
                <td>{{p.status}}</td>
            </tr>


        {% endfor %}
    </table>

{% endblock %}