<!DOCTYPE html>

<html dir="rtl">
    <head>
        <title>Shop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{path}}/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div>
            <h1> فروشگاه لوازم خانگی</h1>
        </div>

        <hr>
        <div>
            {% if cart.getItemCount>0 %}
                <a href="cart.php">Cart: {{cart.getItemCount()}}</a>
            {% endif %}

            {% if user is defined %}
                <a href="{{path}}/logout.php">خروج</a>
            {% else %}
                <a href="{{path}}/login.php">ورود به سايت</a>
                <a href="{{path}}/register.php">ثبت نام در سايت</a>
            {% endif %}
        </div>
        <hr>
        <div>
            {% for m in messages %}
                <div>
                    {{m}}
                </div>
            {% endfor %}
            {% block content %}

            {% endblock %}
        </div>

    </body>
</html>
